
.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    @include media-q('small sc'){
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
}

.jumbo-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 350px;
    position: relative;
    z-index: 2;
    & h1{
        margin: .5rem 0;
    }
    & p{
        width: 100%;
        margin-bottom: 20px;
    }
}

.jumbotron .download {
    align-self: flex-start;
    z-index: 2;
}

.fire-logo{
    position: absolute;
    width: 100%;
    max-width: 250px;
    opacity: 0.15;
    @include media-q('small sc'){
        position: static;
        opacity: 1;
        max-width: 50%;
        left: 0%;
        transform: translateX(0%);
    }
}

