.header-wrapper svg{
    color: $color-SVG;
}

.star-rating{
    width: 15px;
    height: 15px;
}

.social-wrapper svg{
    width: 20px;
    height: 20px;
}

.offers{
    width: 25px;
    height: 25px;
    color: $color-white;
}

